*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../Student_Feedback/Images/ISBM_COE.jpg');
    background-size: 1550px 800px;
    background-repeat: no-repeat;
}

button {
    margin-top: 500px;
    margin-left: 500px;
    height: 50px;
    margin: 5px;
    width: 120px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #404c5d 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  }
  
  button:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  button:active {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }

  .button1, .button2 {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .button1 {
    top: 70%;
    left: 42%;
}

.button2 {
    top: 70%;
    left: 58%;
}

header {
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
    background-image: linear-gradient(to right, #fe614c, #e02323,  #db262c,#fe614c );
    color: white;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

header:hover::after {
    width: 100%;
    left: 0;
}


  